{%load static%}
<style>
  .tres {
    font-size: x-small;
  }
</style>
<main class="py-2 md:px-25 h-auto gap-7 justify-center flex flex-col-reverse  px-5 md:flex-row">
  <div class="md:w-lg  w-full h-120">
    <img src="{% static 'imgs/peppers.jpg' %}" alt="" class="h-full w-full scale-100" />
  </div>
  <div class="md:w-lg w-full pr-9 pt-4">
    <h6
      class="text-sm md:text-md font-light italic tracking-tight mb-2 animate-fadeInUp capitalize"
    >
      our healthy food
    </h6>
    <h2
      class="font-bold md:text-2xl text-3xl font-mono capitalize animate-fadeInUp"
    >
      our special
    </h2>

    <section class="grid gap-7 pb-5">
      <div>
        <span class="flex w-full flex-2 item-center mt-2 animate-fadeInUp">
          <h6
            class="uppercase md:text-sm text-xs font-bold flex item-center gap-5 animate-fadeInUp tite"
          >
            finese tartare steak
            <span class="flex gap-2 text-orange-800 animate-fadeInUp">
              <div class="w-40 h-0  border-1 mt-2 animate-fadeInUp"></div>
              $50
            </span>
          </h6>
        </span>
        <p
          class="font-light font-mono tracking-tight italic tres animate-fadeInUp"
        >
          this is one of our best dished food the least
        </p>
      </div>

      <div>
        <span class="flex w-full flex-2 item-center mt-2 animate-fadeInUp">
          <h6
            class="uppercase md:text-sm text-xs font-bold flex item-center gap-5 animate-fadeInUp"
          >
            creamy chicken soup
            <span class="flex gap-2 text-orange-800 animate-fadeInUp">
              <div class="w-40 h-0  border-1 mt-2 animate-fadeInUp"></div>
              $60
            </span>
          </h6>
        </span>
        <p
          class="font-light font-mono tracking-tight italic tres animate-fadeInUp"
        >
          this is one of our best dished food the least
        </p>
      </div>

      <div>
        <span class="flex w-full flex-2 item-center mt-2 animate-fadeInUp">
          <h6
            class="uppercase md:text-sm text-xs font-bold flex item-center gap-5 animate-fadeInUp"
          >
            boiled eggs on toast
            <span class="flex gap-2 text-orange-800 animate-fadeInUp">
              <div class="w-40 h-0 border-1 mt-2 animate-fadeInUp"></div>
              $120
            </span>
          </h6>
        </span>
        <p
          class="font-light font-mono tracking-tight italic tres animate-fadeInUp"
        >
          this is one of our best dished food the least
        </p>
      </div>

      <div>
        <span class="flex w-full flex-2 item-center mt-2 animate-fadeInUp">
          <h6
            class="uppercase md:text-sm text-xs font-bold flex item-center gap-5 animate-fadeInUp"
          >
            best roasted rumsteak
            <span class="flex gap-2 text-orange-800 animate-fadeInUp">
              <div class="w-40 h-0  border-1 mt-2 animate-fadeInUp"></div>
              $150
            </span>
          </h6>
        </span>
        <p
          class="font-light font-mono tracking-tight italic tres animate-fadeInUp"
        >
          this is one of our best dished food the least
        </p>
      </div>

      <div>
        <span class="flex w-full flex-2 item-center mt-2 animate-fadeInUp">
          <h6
            class="uppercase md:text-sm text-xs font-bold flex item-center gap-5 animate-fadeInUp"
          >
            risotto & mushrooms
            <span class="flex gap-2 text-orange-800 animate-fadeInUp">
              <div class="w-40 h-0  border-1 mt-2 animate-fadeInUp"></div>
              $90
            </span>
          </h6>
        </span>
        <p
          class="font-light font-mono tracking-tight italic tres animate-fadeInUp"
        >
          this is one of our best dished food the least
        </p>
      </div>

      <button type="button" class="p-1 text-md font-light bg-orange-700 w-24 cursor-pointer">
        order now
      </button>
    </section>
  </div>
</main>
